:root {
  --font--inter: "Inter", sans-serif;
  --color--primary: #e0c00e;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@keyframes glow-border {
  0% {
    border-color: #ce9d15;
  }
  50% {
    border-color: #ffffff;
  }
  100% {
    border-color: #ce9d15;
  }
}
.animate-glow {
  animation: glow-border 3s linear infinite;
}

/* Hide scrollbar but keep scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}
